/* Misc Css */
/* Copyright 2024 XiaozhiSans. All Rights Reserved. */
/* Last Update: 2024/02/12 */

/* Custom Font */
@font-face {
	font-family: "被爱判处终身孤寂";
	src: url("被爱判处终身孤寂.ttf") format("truetyple");
}

/* Tag a Optimization */
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: deeppink;
}

/* Custom Bg */
body {
	background-image: url("bg.png");
	font-family: 被爱判处终身孤寂, 微软雅黑;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

/* Desktop Adaptation */
@media only screen and (min-width: 1000px) {
	* {
		font-size: 20px;
	}
	body {
		/* background-image: url("bg_desktop.jpg"); */
		background-image: url("bg_desktop.png");
		background-repeat: no-repeat;
		background-size: auto 100%;
	}
}
