/* XiaozhiSans' Css */
/* Copyright 2024 XiaozhiSans. All Rights Reserved. */
/* Last Update: 2024/02/12 */

/* Title */
.xstit {
	color: yellow;
	background-color: #FF149396;
	border-radius: 15px;
	padding: 40px;
	backdrop-filter: blur(5px);
	box-shadow: 0px 0px 10px #CCC,0px 0px 50px #CCC;
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 70px;
	position: fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 100%;
}

/* Text */
.desktopText {
	color: #00000000;
	text-decoration: line-through;
	padding-left: 32px;
}
.xstext {
	color: white;
	background-color: #FF149396;
	border-radius: 45px;
	text-align: center;
}

/* Text Fix */
.footerTextFix {
	color: white;
	font-size: 33px;
}
.noteTextFix {
	padding-left: 32px;
	padding-top: 15%;
	padding-bottom: 0;
}

/* Img */
#avatar {
	cursor: pointer;
	width: 240px;
	height: 240px;
}

/* Tag */
button {
	color: yellow;
	cursor: pointer;
	background-color: #00000096;
	backdrop-filter: blur(5px);
	border: 3px solid #00000096;
	border-radius: 35px;
}
info2 {
	color: white;
	border-left: 10px solid #000;
	border-right: 10px solid #000;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #FF149396;
	backdrop-filter: blur(5px);
}
footer {
	color: white;
	font-size: 33px;
	background-color: #FF149396;
	backdrop-filter: blur(5px);
	border-radius: 45px;
	text-align: center;
}

/* Desktop Adaptation */
@media only screen and (min-width: 1000px) {
	/* Title */
	.xstit {
		background-image: url("dirt.png");
		border-radius: 0;
		box-shadow: 0 0 0 0,0 0 0 0;
		padding: 20px;
		padding-left: 25px;
		font-size: 35px;
	}

	/* Text */
	.desktopText {
		color: black;
	}
	.xstext {
		background-image: url("glass_pink.png");
		border-radius: 0;
	}


	.noteTextFix {
		padding-top: 20%;
	}
	.footerTextFix {
		color: yellow;
		font-size: 10px;
	}

	/* Img */
	#avatar {
		width: 200px;
		height: 200px;
	}


	button {
		background-image: url("glass_pink.png");
		border: 0;
		border-radius: 0;
	}
	info2 {
		background-image: url("planks_oak.png");
		border: 0;
		color: black;
	}
	footer {
		background-image: url("bedrock.png");
		border-radius: 0;
		color: yellow;
		font-size: 10px;
	}
}
