.aplayer-info {
	background-color: #000 !important;
	color: #fff;
}
.aplayer-miniswitcher {
	background-color: skyblue !important;
}
.titimg {
	position: fixed;
	top: 0; left: 0;
	width: 40vw;
	height: auto;
}
#aliveTime {
	color: #fff;
}
.fa-brands {
	transition: transform 2s;
}
.fa-brands:hover {
	transform: rotate(360deg);
}
a {
	color: #ff0;
}
a:hover {
	color: #ff2;
}
a:visited {
	color: #ff6;
}
body {
	font-family: "被爱判处终身孤寂", "萝莉体", "HarmonyOS Sans SC", "微软雅黑";
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
video.background-video {
	position: fixed;
	top: 0;
	left: 0;
	width: unset;
	height: 100%;
	z-index: -10;
}